<a href="https://colab.research.google.com/github/Fathimaminhank/learn.-py/blob/main/TASK_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the data given below,
  - find the boolean mask where value is nan
  - remove the row with missing data.

In [4]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1
#please provide your answer below this line
 
print(df1.isnull())
print(df1.dropna(axis=0))

                A      B      C      D     F      E
2021-01-01  False  False  False  False  True  False
2021-01-02  False  False  False  False  True  False
2021-01-03  False  False  False  False  True   True
2021-01-04  False  False  False  False  True   True
Empty DataFrame
Columns: [A, B, C, D, F, E]
Index: []

2. In the data given below,fill the missing data with 20.

In [6]:
import pandas as pd
import numpy as np
dates = pd.date_range('20210101',periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df["F"]=s1
df1=df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
print(df1) 
#please provide your answer below this line
print(df1.fillna(value=20))

                   A         B         C         D   F    E
2021-01-01 -1.245366  0.039759 -1.199996  0.417562 NaN  1.0
2021-01-02 -0.456515  0.511201  1.197779 -0.491063 NaN  1.0
2021-01-03 -0.172566  0.925527 -0.183918  0.161660 NaN  NaN
2021-01-04  0.978876 -1.030401 -1.714855 -0.427322 NaN  NaN
                   A         B         C         D     F     E
2021-01-01 -1.245366  0.039759 -1.199996  0.417562  20.0   1.0
2021-01-02 -0.456515  0.511201  1.197779 -0.491063  20.0   1.0
2021-01-03 -0.172566  0.925527 -0.183918  0.161660  20.0  20.0
2021-01-04  0.978876 -1.030401 -1.714855 -0.427322  20.0  20.0

3. From the data given below,
  - break the data in to pieces from 0 t0 2 ,3 t0 7
  - concatenate the pieces.
  - concatenate the pieces along axis 1
  - label each as 'a' and 'b' respectively and perform concatenation.

In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))
print(df) 
#please provide your answer below this line
pieces=[df[:3],df[3:8]]
print(pieces)
print(pd.concat(pieces))
print(pd.concat(pieces,axis=1))
a=df[:3]
b=df[3:8]
print(pd.concat([a,b]))

          0         1         2         3
0  0.468514  1.427839 -0.571654  0.375297
1  0.679855  1.852175  1.049815 -0.088117
2  1.035157 -0.280536 -0.981038 -0.747934
3  0.728508 -2.774610  0.542727 -0.399287
4  0.415599  1.913886 -0.125862 -0.486949
5  1.006543 -0.471985  1.224547  0.984122
6  0.576627  0.083671  0.977584 -0.454331
7  1.393464  3.511748  0.228641 -0.835639
8  0.540778  0.833251 -1.181249  2.377129
9 -1.373306  0.734397 -0.870813 -0.811143
[          0         1         2         3
0  0.468514  1.427839 -0.571654  0.375297
1  0.679855  1.852175  1.049815 -0.088117
2  1.035157 -0.280536 -0.981038 -0.747934,           0         1         2         3
3  0.728508 -2.774610  0.542727 -0.399287
4  0.415599  1.913886 -0.125862 -0.486949
5  1.006543 -0.471985  1.224547  0.984122
6  0.576627  0.083671  0.977584 -0.454331
7  1.393464  3.511748  0.228641 -0.835639]
          0         1         2         3
0  0.468514  1.427839 -0.571654  0.375297
1  0.679855  1.852175  1.049815 -0.088117
2  1.035157 -0.280536 -0.981038 -0.747934
3  0.728508 -2.774610  0.542727 -0.399287
4  0.415599  1.913886 -0.125862 -0.486949
5  1.006543 -0.471985  1.224547  0.984122
6  0.576627  0.083671  0.977584 -0.454331
7  1.393464  3.511748  0.228641 -0.835639
          0         1         2  ...         1         2         3
0  0.468514  1.427839 -0.571654  ...       NaN       NaN       NaN
1  0.679855  1.852175  1.049815  ...       NaN       NaN       NaN
2  1.035157 -0.280536 -0.981038  ...       NaN       NaN       NaN
3       NaN       NaN       NaN  ... -2.774610  0.542727 -0.399287
4       NaN       NaN       NaN  ...  1.913886 -0.125862 -0.486949
5       NaN       NaN       NaN  ... -0.471985  1.224547  0.984122
6       NaN       NaN       NaN  ...  0.083671  0.977584 -0.454331
7       NaN       NaN       NaN  ...  3.511748  0.228641 -0.835639

[8 rows x 8 columns]
          0         1         2         3
0  0.468514  1.427839 -0.571654  0.375297
1  0.679855  1.852175  1.049815 -0.088117
2  1.035157 -0.280536 -0.981038 -0.747934
3  0.728508 -2.774610  0.542727 -0.399287
4  0.415599  1.913886 -0.125862 -0.486949
5  1.006543 -0.471985  1.224547  0.984122
6  0.576627  0.083671  0.977584 -0.454331
7  1.393464  3.511748  0.228641 -0.835639