<a href="https://colab.research.google.com/github/Fathimaminhank/learn.-py/blob/main/TASK_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Using the dataset given below,
  - Group the given dataset by A and find the sum of the groups.
  - Find the 3 least elements from the column D
  - Find the 3 largest elements from the Column D which belongs to the group
  'bar'.

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df) 
#please type your code below this line.
 
print(df.groupby(["A"]).sum())
print(df.nsmallest(3,["D"]))
print(df.nlargest(3,["D"]))

     A      B         C         D
0  foo    one  1.075855 -1.212768
1  bar    one  0.450942  1.586821
2  foo    two -0.383988 -1.577807
3  bar  three  1.450576  0.958807
4  foo    two  0.739326 -1.353895
5  bar    two  0.333097  1.509565
6  foo    one  0.275995 -0.286172
7  foo  three  1.303783 -1.659252
            C         D
A
bar  2.234615  4.055192
foo  3.010971 -6.089893
     A      B         C         D
7  foo  three  1.303783 -1.659252
2  foo    two -0.383988 -1.577807
4  foo    two  0.739326 -1.353895
     A      B         C         D
1  bar    one  0.450942  1.586821
5  bar    two  0.333097  1.509565
3  bar  three  1.450576  0.958807

2. Using the dataset given below,
  - convert the dataset into a csv file.
  - read the csv file just saved
  - covert the dataset into a excel file.
  - read the excel file just saved.

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
#please type your code below this line.
print(df)
print(df.to_csv('data.csv'))
print(pd.read_csv('data.csv',index_col=0))
file_name='datasheet.xlsx'
print(df.to_excel(file_name))
print(pd.read_excel('datasheet.xlsx',index_col=0))

     A      B         C         D
0  foo    one -1.749398  0.120290
1  bar    one -1.120586 -0.300497
2  foo    two  0.162223 -0.425594
3  bar  three -1.878485 -1.400669
4  foo    two -0.785048  0.437648
5  bar    two  1.056491 -0.909807
6  foo    one -0.835106  1.311625
7  foo  three  1.701071 -0.299059
None
     A      B         C         D
0  foo    one -1.749398  0.120290
1  bar    one -1.120586 -0.300497
2  foo    two  0.162223 -0.425594
3  bar  three -1.878485 -1.400669
4  foo    two -0.785048  0.437648
5  bar    two  1.056491 -0.909807
6  foo    one -0.835106  1.311625
7  foo  three  1.701071 -0.299059
None
     A      B         C         D
0  foo    one -1.749398  0.120290
1  bar    one -1.120586 -0.300497
2  foo    two  0.162223 -0.425594
3  bar  three -1.878485 -1.400669
4  foo    two -0.785048  0.437648
5  bar    two  1.056491 -0.909807
6  foo    one -0.835106  1.311625
7  foo  three  1.701071 -0.299059